---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="About Me">
	<main>
		<h1>About <span class="text-gradient">Me</span></h1>
        <div class="card glass">
            <div class="card-body">
                <h2 class="card-title"></h2>
                <p>Are you looking for a highly motivated and results-oriented software developer with a proven track record of building innovative solutions? 
                    In my resume, you'll find a detailed breakdown of my skills and experience. 
                    I'm passionate about crafting clean, efficient code and collaborating with teams to bring projects to life. 
                    Download my resume today to learn more!</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Download <span>&rarr;</span></button>
                </div>
            </div>
        </div>
    </main>
</Layout>


<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>