---
import Layout from '../../layouts/Layout.astro';
---

<div class="card glass w-96">
    <div class="card-body">
        <h2 class="card-title">Life hack</h2>
        <p>How to park your car at your garage?</p>
        <div class="card-actions justify-start">
    <button class="btn btn-primary">Button <span>&rarr;</span></button></div>